<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Front page</title>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Raleway:300,400,500,600,700,800,900" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Roboto:400,500,700,900" rel="stylesheet">
  <script src="https://kit.fontawesome.com/e23084d3ca.js" crossorigin="anonymous"></script>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/style.css">
  <script defer src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
  <script>
    document.addEventListener("DOMContentLoaded", () => {
      const elements = document.querySelectorAll('.fade-right, .fade-bottom, .fade-left, .zoom-in');

      function checkVisibility() {
        elements.forEach(element => {
          const rect = element.getBoundingClientRect();
          const windowHeight = window.innerHeight || document.documentElement.clientHeight;

          if (rect.top <= windowHeight / 1.5) {
            element.classList.add('active');
          } else {
            element.classList.remove('active');
          }
        });
      }

      // Initial check on page load
      checkVisibility();

      // Check on scroll
      document.addEventListener('scroll', checkVisibility);
    });
  </script>
  <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
</head>

<body>
  <%- include('./partials/nav') %>
    

  <section class="bg-text-area">
    <div class="container">
      <div class="row">
        <div class="col-12 bg-text">
          <img src="/images/bg-images.jpg" alt="">
          <h3> <%= content %> </h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing
            elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua. Ut enim ad minim veniam, quis
            nostrud exercitation ullamco laboris nisi ut aliquip
            ex ea commodo consequat. Duis aute irure dolor in
            reprehenderit in voluptate velit esse cillum dolore
            eu fugiat nulla </p>
        </div>
      </div>
    </div>
   
  </section>
  <section class="blog-post-area">
    <div class="container">
      <div class="row blog-post-area-style">
        <!-- <div class="col-lg-6 col-md-12" style="display: flex;
                    justify-content: center;">
                        <img src="/images/bg-images.jpg" alt>
                    </div> -->
                   
                       
                      
                    <!-- <div class="container mt-3 ">
                        <div class="row row-cols-3">
                        <% posts.forEach(post => { %>
                        <div class="single-post">
                            <img src="img/post-image2.jpg" alt>
                            <div class="title">
                            <h3><a href="/blog/<%= post._id %>"><%= post.title %> </a> </h3>  
                            <div class="dropdown">
                              <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false" style="color: black;background-color: white; border: white;"></button>
                              <ul class="dropdown-menu">
                                <li>
                                    <button class="dropdown-item" type="button" onclick="deletePost('<%= post._id %>')">Delete</button>
                                </li>
                                <li><button class="dropdown-item" type="button"><a href="/edit/<%= post._id %>">Edit</a> </button></li>
                            </ul>
                              </ul>
                            </div>
                            </div>
                            <h4><span>Posted By: <span class="author-name"><%=post.Posted_by %></span></span></h4>
                            <p><%= post.Content.slice(0,50) %></p>
                            <hr>
                            <h6>Date :<span><%= post.date.toLocaleDateString() %></span></h6>
                           </div>
                        <% }) %>
                    </div>
                    </div>   -->


                    
                    <div class="container mt-3 ">
                    <div class="row row-cols-3">
                    <% posts.forEach(post => { %>
                    <div class="card" style="width: 18rem;">
                     
                      <img src="<%= post.imageUrl %>" class="card-img-top" alt="..." height="200px">
                      <div class="card-body">
                        <h5 class="card-title"><%= post.title %></h5>
                        <p class="card-text"><%= post.Content.slice(0,50) %>....</p>
                        <a href="/blog/<%= post._id %>" class="btn btn-primary">Read More</a>
                      </div>
                    </div>

                    <% }) %> 
                   
              </div>
            </div>
            <div class="pegination">
                <div class="nav-links">
                    <a class="read-more" href="#">Read More</a>
                </div>
            </div>
          </div>
          </div>
        </section>



        <script>
          function deletePost(postId) {
              const confirmation = confirm('Are you sure you want to delete this post?');
              if (confirmation) {
                  fetch(`/blog/${postId}`, {
                      method: 'DELETE'
                  })
                  .then(response => {
                      if (!response.ok) {
                          throw new Error('Failed to delete post');
                      }
                      return response.json();
                  })
                  .then(data => {
                      // Handle successful deletion
                      window.location.href = window.location.href; // Redirect to homepage
                  })
                  .catch(error => {
                      console.error(error);
                      // Handle error
                  });
              }
          }

          
function editPost(postId) {
            
      window.location.href = `/edit/${postId}`;
      

}


    


      
      </script>
    </body>

</html>