<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Single page</title>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
            rel="stylesheet">
        <link
            href="https://fonts.googleapis.com/css?family=Raleway:300,400,500,600,700,800,900"
            rel="stylesheet">
        <link
            href="https://fonts.googleapis.com/css?family=Roboto:400,500,700,900"
            rel="stylesheet">
        <script src="https://kit.fontawesome.com/e23084d3ca.js"
            crossorigin="anonymous"></script>
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
            crossorigin="anonymous">
        <!-- <link rel="stylesheet" href="css/bootstrap.css"> -->
        <!-- <link rel="stylesheet" href="css/font-awesome.min.css">
        <link rel="stylesheet" href="css/owl.carousel.min.css">
        <link rel="stylesheet" href="css/owl.theme.default.min.css"> -->
        <link rel="stylesheet" href="/css/style.css">
        <!-- <link rel="stylesheet" href="responsive.css"> -->
        <script defer
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
            crossorigin="anonymous"></script>
    </head>

    <body>
       <%- include('./partials/nav') %>
        <section class=" single-blog-area">
            <!-- <div class="container">
                <div class="row">
                    <div class="col-md-7 blog-area">
                        <div class="blog-area-part"> -->
                        <div class="single">
                            <h2><%= post.title %></h2>
                            <p><%= post.Content %></p>
                            <img src="<%= post.imageUrl %>" alt="" >
                            <p> Posted By :<%= post.Posted_by %></p>
                            <p >Date :<%= post.date.toLocaleDateString() %></p>
                        </div>
                            <!-- <ul class="commentlist">
                                <li>
                                    <article class="comment">
                                        <header class="comment-author">
                                            <img src="img/author-1.jpg" alt>
                                        </header>
                                        <section class="comment-details">
                                            <div class="author-name">
                                                <h5><a href="#">SelinaGomez</a></h5>
                                                        
                                                <p>February 25 2017</p>
                                                    
                                            </div>
                                            <div class="comment-body">
                                                <p>is simp dummy text
                                                    of the
                                                    printing and
                                                    typesetting
                                                    industry.
                                                    Lorem
                                                    Ipsum has
                                                    been the
                                                    industry's
                                                    standard
                                                </p>
                                            </div>
                                           
                                        </section>
                                    </article>

                                    <ul class="children">
                                        <li>
                                            <article class="comment">
                                                <header
                                                    class="comment-author">
                                                    
                                                </header>
                                                <section
                                                    class="comment-details">
                                                    <div
                                                        class="author-name">
                                                        <h5><a
                                                                href="#">Khalid
                                                                Hasan
                                                                Zibon</a>
                                                        </h5>
                                                        <p>February 25 2017</p>
                                                            
                                                           
                                                    </div>
                                                    <div
                                                        class="comment-body">
                                                        <p>is
                                                            simply
                                                            dummy
                                                            text
                                                            of
                                                            the
                                                            printing
                                                            and
                                                            typesetting
                                                            industry.
                                                            Lorem
                                                            Ipsum
                                                            has
                                                            been
                                                            the
                                                            industry's
                                                            standard
                                                        </p>
                                                    </div>
                                                    <div class="reply">
                                                        <p><span><a
                                                                    href="#"><i
                                                                        class="fa fa-thumbs-up"
                                                                        aria-hidden="true"></i></a>12</span><span><a
                                                                    href="#"><i
                                                                        class="fa fa-reply"
                                                                        aria-hidden="true"></i></a>7</span>
                                                        </p>
                                                    </div>
                                                </section>
                                            </article>
                                        </li>
                                    </ul>

                                </li>
                                <li>
                                    <article class="comment">
                                        <header class="comment-author">
                                            
                                        </header>
                                        <section class="comment-details">
                                            <div class="author-name">
                                                <h5><a href="#">Heath
                                                        Ledger</a></h5>
                                                <p>February 25
                                                    2017</p>
                                            </div>
                                            <div class="comment-body">
                                                <p>is simply
                                                    dummy text
                                                    of the
                                                    printing and
                                                    typesetting
                                                    industry.
                                                    Lorem
                                                    Ipsum has
                                                    been the
                                                    industry's
                                                    standard
                                                </p>
                                            </div>
                                            <div class="reply">
                                                <p><span><a href="#"><i
                                                                class="fa fa-thumbs-up"
                                                                aria-hidden="true"></i></a>12</span><span><a
                                                            href="#"><i
                                                                class="fa fa-reply"
                                                                aria-hidden="true"></i></a>7</span>
                                                </p>
                                            </div>
                                        </section>
                                    </article>
                                </li>
                            </ul>

                        </div>  -->
                        <div class="comment">
                        <form action="/comment" method="post" >
                            <div class="input">
                                <input type="text" name="comment_name" placeholder="Name">
                                <input type="email" name="comment_email" placeholder="Email" >
                                <input type="text" name="comment" placeholder="Comment">
                                <button type="submit">Post</button>
                            </div>
                        </form>
                    </div>
                    </div>

                    </div>
                </div>
            </div>
        </section>
 
    </body>

</html>